.body {
    font: 400 normal 'Roboto', sans-serif;
    color: #000;
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.file__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 60%;
}

.title {
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    font: 20px/1 'Roboto', sans-serif;
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
    padding: 0 10px;
}

.folder-icon {
    margin: 0 auto;
    z-index: -1;
}

.file-area {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px dotted rgb(83, 241, 247);
    border-radius: 20px;
}

.file {
    opacity: 0;
    width: 100%;
    height: 100%;
}

.file-button {
    font: 18px/1 'Roboto', sans-serif;
    position: absolute;
    left: 0;
    bottom: 35px;
    right: 0;
    margin: 0 auto;
    width: 180px;
    height: 46px;
    color: #fff;
    background-color: rgb(255, 71, 71);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert-enter {
    opacity: 0;
    transform: scale(0.);
  }
  .alert-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
  }
  .alert-exit {
    opacity: 1;
  }
  .alert-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
  }

